@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
html {
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.colcentral, aside, footer, header {
    padding: 1rem;
    box-sizing: border-box;
  }
  header {
    background-color: #ffd100;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    text-align: center;
  }
  img {
    border-radius: 20px;
  }
  
  .noradio img {
  border-radius: 0px;
    }
aside {
background-color: #970043;
display: flex;
max-width: 100%;
align-items: center;
  }
.colcentral {
    background-color: #f2f2f2;
    display: flex;
    color: black;

}
.colcentral:hover {
    background-color: #970043;
    text-decoration: none;
  }

  p::first-letter {
    font-size: 1rem;
    font-weight: bold;}
    a {
        font-weight: bold;
        color:#ffd100;
        text-decoration: none;
    }

footer {
    background-color: #ffd100;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
@media screen and (min-width: 768px) {

    main {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      border-bottom: 0.5rem solid;
    }}