* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cabesa */
.header {
  font-size: 0;
  vertical-align: top;
  text-align: center;
}
.nav {
  background-image: url("../images/feo.jpg");
  background-repeat: repeat;
  background-size: cover;
}

/* cesta */
.cesta {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3px;
  position: relative;
}

.cesta a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cesta .normal-image,
.cesta .hover-image {
  position: absolute;
  top: 0;
  left: 0;
}

.cesta .normal-image {
  z-index: 1;
}

.cesta .hover-image {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease;
}

.cesta:hover .hover-image {
  opacity: 1;
}

/* Ese cuerpo */
.bg {
  /*background-image: url("../images/fondos.jpg");
  background-repeat: repeat;
  background-size: cover;*/
  background-color: azure;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'mecana';
  src: url('fonts/mecana.ttf');
}
.body {
  font-family: 'mecana','Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}
.text {
  background-color: white;
}

/* Column container */
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-bottom: 20px;
  font-family: 'mecana','Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  font-weight: bold;
}

.column img {
  max-width: 100%;
  margin-bottom: 10px;
}



/* Footer */
.footer {
  padding: 600px;
  text-align: center;
}



/* Responsive layout */
@media (min-width: 48em) {
  .columns {
  flex-wrap: nowrap;
  }
  }
  
  @media (max-width: 1100px) {
  .columns {
  flex-wrap: wrap;
  justify-content: center;
  }
  .column {
  width: calc(50% - 20px);
  }
  }
  
  @media (max-width: 768px) {
  .columns {
  flex-wrap: wrap;
  justify-content: center;
  }
  .column {
  width: 100%;
  }
  }
