.encabezados {
    text-align: center;
    color: blue;
    font-size: 200;
}

.parrafos {
    color: gray;
    text-align: left;
    margin-left: 20px;
}

.cuerpo {
    href:"https://img.freepik.com/free-vector/green-tones-gradient-background_23-2148376167.jpg?w=2000"
}