html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(52, 49, 49)
}
body{
    padding: 1rem;
}
div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1em;
  }
aside {
    background-color: rgb(11, 76, 26);
color: white;
}
main {

max-width: 1170px;
border-right: auto;
border-left: auto;
padding: 1rem;
background-color: white;
color: black;
}

form {

    border: 1px solid black;
    
  }

fieldset:hover {
    border: 3px gold solid;
  }

 
@media screen and (min-width: 700px) {
    body {
      display: grid;
      box-sizing: border-box;
      margin: auto;
    }
    main {
      display: grid;
      box-sizing: border-box;
      padding: 0rem;
    }}